#main.login {
  width: 100%;
  height: 100%;
  padding: 120px;

  #signin {
    width: 100%;
    padding: 40px 0 60px 0;

    .container {
      width: 1050px;
      margin: 0 auto;

      .title {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img-box {
          margin-bottom: 10px;

          img {
            width: 62px;
            height: 26px;
          }
        }

        h2 {
          font-size: 30px;
          font-family: 'NPSfontBold';
        }
      }

      .content {
        width: 100%;
        display: flex;
        justify-content: center;

        form {
          padding-top: 50px;

          .custom-login {
            width: 100%;

            li {
              width: 100%;

              &:nth-child(3) {
                height: 54px;
                text-align: end;
                font-size: 12px;
                padding-top: 10px;
                margin-bottom: 10px;
              }

              p {
                display: none;
                padding: 7px 0 0 0;
                font-size: 14px;
                color: #f03f40;
                text-align: start;

                &.on {
                  display: block;
                }
              }

              input {
                width: 350px;
                height: 54px;
                border: 1px solid #ddd;
                padding: 0 15px;
              }

              a {
                color: #000;
                transition: all 0.2s ease-in-out;
                font-family: 'NPSfontBold';

                &:hover {
                  color: #764f00;
                }
              }

              i {
                color: #ccc;
                margin: 0 5px;
              }

              button {
                width: 100%;
                height: 54px;
                border: 0;
                cursor: pointer;

                &.submit-btn {
                  background: #AB8B61;
                }

                &.signup-btn {
                  background: #fffbf5;
                  border: 1px solid #333;
                }

                span {
                  font-weight: bold;
                  font-size: 15px;
                  font-family: 'NPSfontBold';

                  &.login-text {
                    color: #fff;
                  }

                  &.signup-text {
                    color: #74500A;
                  }
                }
              }
            }


          }

          .sns-login {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding-top: 20px;

            button {
              width: 52px;
              background: none;
              border: 0;
              cursor: pointer;
              box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;

              img {
                width: 100%;
                height: 52px;
              }
            }
          }
        }
      }
    }
  }
}

#confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;

  .wrap {
    width: 100%;
    height: 100%;
    display: flex;

    .container {
      position: relative;
      width: 400px;
      height: 185px;
      margin: auto;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        height: 130px;

        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          text-indent: 3px;
          padding: 5px;
          font-weight: bold;
          color: #333;
          line-height: 150%;
          letter-spacing: -0.5px;
          text-align: center;
        }
      }

      .button-box {
        border-top: 1px solid #74500a;
        width: 100%;
        height: 55px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          z-index: 2;
          width: 100%;
          height: 100%;
          background: none;
          border: 0;
          cursor: pointer;

          span.confirm-modal-btn-span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            color: #74500a;
          }
        }
      }
    }
  }
}