#ConsentToReceiveMarketing.ctrm {
  width: 100%;
  padding-top: 100px;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container {
  width: 1050px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 179px;
  padding-top: 60px;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_title h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 81.09px;
  text-align: center;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_content_box01 {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-bottom: 60px;
  margin-top: 50px;
  padding: 30px 0;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_content_box02 {
  height: 460px;
  overflow: auto;
  padding-right: 14px;
  width: 700px;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_content_box02::-webkit-scrollbar {
  width: 6px;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_content_box02::-webkit-scrollbar-thumb {
  background-color: #a6a19e;
  border-radius: 2px;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_content_box02 p {
  background-color: #efe7de;
  background-color: var(--default_color);
  font-size: 16px;
  font-weight: 400;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_content_box02 h2, #ConsentToReceiveMarketing.ctrm .ctrm_container strong {
  font-size: 16px;
  font-weight: bold;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_appli_button {
  background-color: rgb(35, 25, 22);
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  margin-bottom: 12px;
  width: 420px;
  cursor: pointer;
}
#ConsentToReceiveMarketing.ctrm .ctrm_container .ctrm_appli_button:hover {
  transition: all 0.1s ease-in-out;
  background: rgba(0, 0, 0, 0.7921568627);
}