@charset "UTF-8";
#DmunityDetail {
  padding-top: 90PX;
  padding-bottom: 40px;
}
#DmunityDetail #container {
  width: 1050px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #F9EBDB;
  border-radius: 15px;
}
#DmunityDetail #container .title {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 30px 0;
}
#DmunityDetail #container .title img {
  widows: 30px;
  height: 30px;
}
#DmunityDetail #container .title h2 {
  font-family: "NPSfontbold";
  font-size: 32px;
  color: #74500A;
  margin-left: 10px;
}
#DmunityDetail #container .content {
  width: 100%;
}
#DmunityDetail #container .content .pots-title {
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
  position: relative;
}
#DmunityDetail #container .content .pots-title img {
  width: 48px;
  height: 48px;
}
#DmunityDetail #container .content .pots-title h2 {
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}
#DmunityDetail #container .content .pots-title .profile-box {
  margin-left: auto;
}
#DmunityDetail #container .content .pots-title .profile-box img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
#DmunityDetail #container .content .pots-title .profile-box span {
  font-weight: bold;
}
#DmunityDetail #container .content .info-box {
  width: 90%;
  display: flex;
  justify-content: end;
  margin: 0 auto;
  padding: 4px 0;
  border-bottom: 1px solid #F4E2CC;
}
#DmunityDetail #container .content .info-box span {
  display: flex;
  font-weight: bold;
  margin-left: 8px;
}
#DmunityDetail #container .content .text-area {
  width: 90%;
  min-height: 240px;
  margin: 16px auto;
  padding: 0 8px;
  font-size: 14px;
  font-family: "Noto Sans KR";
}
#DmunityDetail #container .content .text-area div {
  margin: 20px 0;
  /* ck에디터 툴바 적용이랑 reset.css파일 스타일 충돌나서 임시 작성*/
}
#DmunityDetail #container .content .text-area div strong,
#DmunityDetail #container .content .text-area div b {
  font-weight: bold;
}
#DmunityDetail #container .content .text-area div i {
  font-style: italic;
}
#DmunityDetail #container .content .text-area div p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#DmunityDetail #container .content .text-area div h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#DmunityDetail #container .content .text-area div h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#DmunityDetail #container .content .text-area div h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  /*해결되면 지우기*/
}
#DmunityDetail #container .like_comment_count {
  width: 90%;
  border-bottom: 1px solid #F4E2CC;
  border-top: 1px solid #F4E2CC;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 20px 8px;
}
#DmunityDetail #container .like_comment_count img {
  width: 22px;
  height: 18px;
}
#DmunityDetail #container .like_comment_count p {
  margin-left: 8px;
  line-height: 18px;
}
#DmunityDetail #container .comment_box {
  width: 90%;
  margin: 20px auto;
  padding: 0 8px;
}
#DmunityDetail #container .comment_box .comment_list {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
#DmunityDetail #container .comment_box .comment_list .profile_box {
  width: 5%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#DmunityDetail #container .comment_box .comment_list .profile_box img {
  width: 40px;
  height: 40px;
  border-radius: 80%;
}
#DmunityDetail #container .comment_box .comment_list .profile_box .userid {
  font-weight: bold;
  font-size: 12px;
  margin-top: 4px;
}
#DmunityDetail #container .comment_box .comment_list .comment_text {
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#DmunityDetail #container .comment_box .comment_list .comment_text .comment_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
#DmunityDetail #container .comment_box .comment_list .comment_text .comment_detail .date {
  font-size: 12px;
  color: #AB8B61;
}
#DmunityDetail #container .comment_box .comment_list .comment_text .reply {
  font-size: 12px;
  color: #74500A;
  cursor: pointer;
}
#DmunityDetail #container .comment_form {
  display: flex;
  width: 90%;
  margin: 20px auto;
}
#DmunityDetail #container .comment_form input {
  width: 90%;
  height: 60px;
  padding: 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #F4E2CC;
}
#DmunityDetail #container .comment_form button {
  width: 10%;
  height: 60px;
  background-color: white;
  border: 1px solid #F4E2CC;
  color: #74500A;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}
#DmunityDetail #container .button_box {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
}
#DmunityDetail #container .button_box > a {
  display: flex;
  padding-left: 50px;
}
#DmunityDetail #container .button_box > a button {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #AB8B61;
  color: white;
  font-family: "Noto Sans KR";
  font-weight: bold;
  cursor: pointer;
}
#DmunityDetail #container .button_box .edit-delete-btn {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 50px;
}
#DmunityDetail #container .button_box .edit-delete-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #AB8B61;
  color: white;
  font-family: "Noto Sans KR";
  font-weight: bold;
  cursor: pointer;
}
#DmunityDetail #container .button_box .edit-delete-btn button.edit-btn {
  margin-right: 10px;
}