@charset "UTF-8";
/* 고유한 클래스 이름 사용 */
.settings-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  /* 모달 버튼 스타일 */
}
.settings-modal-container .settings-modal-content {
  background-color: #fffbf5;
  border: none;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 20px;
}
.settings-modal-container .settings-modal-content .deleteContent,
.settings-modal-container .settings-modal-content .editContent,
.settings-modal-container .settings-modal-content .shareContent {
  background-color: transparent;
  border: none;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #f4e2cc;
}
.settings-modal-container .settings-modal-content .deleteContent {
  color: red;
}
.settings-modal-container .settings-modal-content .undoBtn {
  background-color: transparent;
  border: none;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}