@charset "UTF-8";
.delete-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.delete-confirmation .checkBox {
  width: 100%;
}
.delete-confirmation .deleteText {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f4e2cc;
  width: 100%;
}
.delete-confirmation .deleteBtn {
  border: none;
  background-color: transparent;
  color: red;
  height: 48px;
  border-bottom: 1px solid #f4e2cc;
  width: 100%;
  cursor: pointer;
}
.delete-confirmation .noDeleteBtn {
  border: none;
  background-color: transparent;
  height: 48px;
  cursor: pointer;
}

/* 고유한 클래스 이름 사용 */
.settings-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  /* 모달 버튼 스타일 */
  /* 삭제 팝업 스타일 */
  /* 팝업 버튼 스타일 */
}
.settings-modal-container .settings-modal-content {
  background-color: #fffbf5;
  border: none;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 20px;
}
.settings-modal-container .settings-modal-content a {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #f4e2cc;
}
.settings-modal-container .settings-modal-content a .editContent {
  background-color: transparent;
  border: none;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}
.settings-modal-container .settings-modal-content .deleteContent,
.settings-modal-container .settings-modal-content .shareContent {
  background-color: transparent;
  border: none;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #f4e2cc;
}
.settings-modal-container .settings-modal-content .deleteContent {
  color: red;
}
.settings-modal-container .settings-modal-content .undoBtn {
  background-color: transparent;
  border: none;
  height: 48px;
  font-size: 14px;
  cursor: pointer;
}
.settings-modal-container .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  /* Ensure the popup is above the modal */
  background: rgba(0, 0, 0, 0.5);
}
.settings-modal-container .delete-confirmation-popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.settings-modal-container .delete-confirmation-popup button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}