@charset "UTF-8";
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal-overlay .close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.modal-overlay .modal {
  width: 1050px;
  max-width: 1050px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-overlay .modal .modal-content {
  background-color: #F4E2CC;
  width: 1050px;
  height: 700px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.modal-overlay .modal .modal-content .photos {
  flex: 1;
  background-color: #FFFBF5;
  border-radius: 20px;
  height: 668px;
  margin-left: 16px;
  margin-right: 8px;
}
.modal-overlay .modal .modal-content .words {
  flex: 1;
  background-color: #FFFBF5;
  border-radius: 20px;
  height: 668px;
  margin-left: 8px;
  margin-right: 16px;
}
.modal-overlay .modal .modal-content .words .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F4E2CC;
}
.modal-overlay .modal .modal-content .words .profileName {
  margin-right: auto;
  /* 왼쪽 정렬 */
}
.modal-overlay .modal .modal-content .words .profile img {
  margin-right: 10px;
  /* 이미지와 텍스트 사이에 간격 추가 */
}
.modal-overlay .modal .modal-content .words .content {
  border-bottom: 1px solid #F4E2CC;
}
.modal-overlay .modal .modal-content .words .commentSection {
  display: flex;
  /* 플렉스 박스를 사용하여 이미지와 텍스트를 가로로 배치 */
  align-items: center;
  /* 수직 가운데 정렬 */
  border-bottom: 1px solid #F4E2CC;
}
.modal-overlay .modal .modal-content .words .commentSection img {
  width: 50px;
  /* 이미지의 너비를 조절하세요 */
  height: auto;
  /* 이미지의 높이를 자동으로 유지 (비율 유지) */
  margin-right: 10px;
  /* 이미지와 텍스트 사이의 간격 조절 */
  margin-bottom: auto;
}
.modal-overlay .modal .modal-content .words .commentDate,
.modal-overlay .modal .modal-content .words .commentLikes,
.modal-overlay .modal .modal-content .words .cocomment {
  display: inline-block;
  /* 요소들을 인라인 블록으로 설정하여 가로로 나란히 배치 */
  margin-right: 12px;
  /* 요소 사이의 간격을 조절 (원하는 값으로 변경 가능) */
}
.modal-overlay .modal .modal-content .words .write-button {
  float: right;
}