@charset "UTF-8";
#main.dstamain {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
  overflow: hidden;
  height: auto;
}
#main.dstamain .dstamain_container {
  width: 1050px;
  height: 100vh;
  margin: 0 auto;
}
#main.dstamain .dstamain_container .dstamain_titlecontainer {
  position: relative;
  width: 1050px;
  height: 50px;
  margin: 20px;
}
#main.dstamain .dstamain_container .dstamain_titlecontainer img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  /* 아이콘을 인라인 블록 요소로 설정 */
  display: inline-block;
}
#main.dstamain .dstamain_container .dstamain_titlecontainer .dstamain_title {
  font-size: 30px;
  font-weight: bold;
  font-family: "fredoka one";
  padding: 10px;
  color: #74500A;
  line-height: 40px;
  display: inline-block;
}
#main.dstamain .dstamain_container .dstamain_weeklybox {
  position: relative;
  width: 1050px;
  height: 360px;
  border-radius: 20px;
  padding: 0 20px;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer {
  width: 100%;
  height: 370px;
  position: relative;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer:hover > button {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer .dstamain_swiper {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  margin-top: 20px;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer .dstamain_swiper .swiper-slide {
  position: relative;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #74500A;
  margin-left: 10px;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer .dstamain_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer > button {
  border: 0;
  background: none;
  z-index: 3;
  opacity: 0;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer > button img {
  width: 52px;
  height: 52px;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer > button.dstamain_swiperprev {
  position: absolute;
  top: 35%;
  left: 10px;
  transform: rotate(180deg);
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer > button.dtamain_swipernext {
  position: absolute;
  top: 35%;
  right: 10px;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer .dstamain_swiperpage {
  position: relative;
  z-index: 5;
  bottom: 25px;
  left: 50%;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer .dstamain_swiperpage.dstamain_swiperbulletactive {
  background: #F88A8A;
}
#main.dstamain .dstamain_container .dstamain_weeklybox .dstamain_swipercontainer .dstamain_swiperpage.dstamain_swiperbullet {
  margin-right: 5px;
}
#main.dstamain .dstamain_container .dstamain_photobox {
  width: 255px;
  height: 400px;
  margin-left: 7.5px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid #74500A;
  float: left;
  overflow: hidden;
  position: relative;
  /*부모 컨테이너*/
}
#main.dstamain .dstamain_container .dstamain_photobox img {
  width: 100%;
  height: 315px;
  border-radius: 15px 15px 0 0;
}
#main.dstamain .dstamain_container .dstamain_photobox .dstamain_phototextbox {
  position: absolute;
  bottom: 45px;
  /* 아래로 위치 */
  width: 100%;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
  padding-left: 10px;
  margin: 0;
  /* 패딩을 요소의 크기에 포함 */
  box-sizing: border-box;
}
#main.dstamain .dstamain_container .dstamain_photobox .dstamain_watchbox {
  position: absolute;
  width: 100%;
  height: 35px;
  font-size: 16px;
  box-sizing: border-box;
  bottom: 0;
  margin-left: 10px;
}
#main.dstamain .dstamain_container .dstamain_photobox .dstamain_watchbox img {
  width: 14px;
  height: 14px;
  margin: 0 8px;
  display: inline-block;
}
#main.dstamain .dstamain_container .dstamain_photobox .dstamain_profile {
  position: relative;
  bottom: 40px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
#main.dstamain .dstamain_container .dstamain_photobox .dstamain_profile img {
  width: 30px;
  height: 30px;
  margin: 0 8px;
  display: inline-block;
}
#main.dstamain .dstamain_container .dstamain_pagebox {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #74500A;
}