#main.mainPage {
  width: 100%;
  height: 1000px;
  padding-top: 90px;
}
#main.mainPage .container {
  width: 1050px;
  margin: 0 auto;
}
#main.mainPage .container h2 {
  padding: 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}