#main.login {
    text-align: center;
    padding-top: 90px;
    /* login 클래스 스타일 설정 */
  #finish {

    /* finish 아이디 스타일 설정 */
    ul {
      /* ul 요소 스타일 설정 */
      list-style: none;
      padding: 0;

      .complete {
        text-align: center;
        /* complete 클래스 스타일 설정 */
        /* 예: 배경색, 패딩, 테두리 등 */
      }

      .title {

        /* title 클래스 스타일 설정 */
        .img-box {
          padding-top: 100px;

          /* img-box 클래스 스타일 설정 */
          img {
            /* img 요소 스타일 설정 */
            max-width: 100%;
              
          }
        }
      }

      .commsg {
padding-top: 50px;
        /* commsg 클래스 스타일 설정 */
        h2 {
          /* h2 요소 스타일 설정 */
          font-size: 30px;
          font-weight: bold;
        }
      }

      li {
        display: inline-block;
        padding-top: 50px;
        /* li 요소 스타일 설정 */
        /* 예: 여백, 텍스트 스타일 등 */
      }

      /* Homepagebtn과 Loginpagebtn 버튼 스타일 설정 */
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        margin-right: 10px;
        width: 150px;
        height: 45px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;

        &.to-home {
          background: #74500a;
          color: #fff;
        }
        &.to-login {
          background: #fff;
          color: #74500a;
        }

        &:hover {
          background-color: red;
        }
        
      }
    }
  }
}