#signup.signup_main {
  padding-top: 90px;
}
.nick-ok-btn{
  background-color: #74500A;
  color: white;
  border-radius: 5px;
  
}

.id-ok-btn{
  background-color: #74500A;
    color: white;
    border-radius: 5px;
}