#DmunityDetail {
  padding-top: 90PX;
  padding-bottom: 40px;

  #container {
    width: 1050px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #F9EBDB;
    border-radius: 15px;

    .title {
      width: 100%;
      display: flex;
      padding: 30px 30px 30px 12px;

      img {
        widows: 30px;
        height: 30px;
      }

      h2 {
        font-family: 'NPSfontbold';
        font-size: 32px;
        color: #74500A;
        margin-left: 10px;
      }
    }

    .content {
      width: 100%;

      .pots-title {
        width: 100%;
        padding-bottom: 10px;
        align-items: center;
        border-bottom: 1px solid #74500A;
        display: flex;
        position: relative;

        >img {
          width: 48px;
          height: 48px;
          margin-left: 50px;
        }

        h2 {
          font-size: 20px;
          margin-left: 20px;
          font-weight: bold;
        }

        .profile-box {
          position: absolute;
          top: 5px;
          right: 20px;


          img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
          }

          span {
            font-weight: bold;
          }
        }
      }

      .info-box {
        display: flex;
        justify-content: end;
        margin-top: 8px;

        span {
          font-weight: bold;
          margin-left: 4px;
        }
      }

      .text-area {
        width: 930px;
        min-height: 240px;
        margin: auto;
        margin-top: 12px;
        font-size: 14px;
        font-family: 'Noto Sans KR';
      }
    }



    .row5 {
      display: flex;
      padding: 8px;

      img {
        width: 22px;
        height: 18px;
      }

      p {
        margin-left: 4px;
      }
    }

    .row6 {
      border-bottom: 1px solid #74500A;
      border-top: 1px solid #74500A;
    }

    .row7 {
      display: flex;
      margin-top: 16px;

      input {
        width: 90%;
        height: 60px;
        padding: 8px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: none;
      }

      button {
        width: 10%;
        height: 60px;
        background-color: white;
        border: none;
        color: #74500A;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .row8 {
      display: flex;

      button {
        width: 80px;
        height: 30px;
        border-radius: 15px;
        border: none;
        background-color: #AB8B61;
        color: white;
        font-family: 'Noto Sans KR';
        font-weight: bold;
      }

      .list {
        margin-top: 40px;
      }

      div {
        margin-left: auto;
        margin-top: 40px;

        .delete {
          margin-left: 4px;
        }
      }
    }
  }
}