#DmunityDetail {
  padding-top: 90PX;
  padding-bottom: 40px;

  #container {
    width: 1050px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #F9EBDB;
    border-radius: 15px;

    .title {
      width: 90%;
      display: flex;
      margin: 0 auto;
      padding: 30px 0;

      img {
        widows: 30px;
        height: 30px;
      }

      h2 {
        font-family: 'NPSfontbold';
        font-size: 32px;
        color: #74500A;
        margin-left: 10px;
      }
    }

    .content {
      width: 100%;

      .pots-title {
        width: 90%;
        margin: auto;
        align-items: center;
        display: flex;
        position: relative;

        img {
          width: 48px;
          height: 48px;
        }

        h2 {
          font-size: 20px;
          margin-left: 20px;
          font-weight: bold;
        }

        .profile-box {
          margin-left: auto;

          img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
          }

          span {
            font-weight: bold;
          }
        }
      }

      .info-box {
        width: 90%;
        display: flex;
        justify-content: end;
        margin: 0 auto;
        padding: 4px 0;
        border-bottom: 1px solid #F4E2CC;

        span {
          display: flex;
          font-weight: bold;
          margin-left: 8px;
        }
      }

      .text-area {
        width: 90%;
        min-height: 240px;
        margin: 16px auto;
        padding: 0 8px;
        font-size: 14px;
        font-family: 'Noto Sans KR';

        h2 {
          margin: 20px 0;
          font-weight: bold;
        }

        h3 {
          margin: 20px 0;
          font-weight: bold;
          color: #74500A;
        }

        div {
          margin: 20px 0;
        }
      }
    }

    .like_comment_count {
      width: 90%;
      border-bottom: 1px solid #F4E2CC;
      border-top: 1px solid #F4E2CC;
      display: flex;
      align-items: center;
      margin: auto;
      padding: 20px 8px;

      img {
        width: 22px;
        height: 18px;
      }

      p {
        margin-left: 8px;
        line-height: 18px;
      }
    }

    .comment_box {
      width: 90%;
      margin: 20px auto;
      padding: 0 8px;

      .comment_list {
        display: flex;
        gap: 8px;
        margin-bottom: 16px;

        .profile_box {
          width: 5%;
          display: flex;
          flex-flow: column;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 80%;
          }

          .userid {
            font-weight: bold;
            font-size: 12px;
            margin-top: 4px;
          }
        }

        .comment_text {
          width: 95%;
          display: flex;
          flex-flow: column;
          justify-content: center;

          .comment_detail {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;

            .date {
              font-size: 12px;
              color: #AB8B61;
            }
          }

          .reply {
            font-size: 12px;
            color: #74500A;
            cursor: pointer;
          }
        }
      }
    }

    .comment_form {
      display: flex;
      width: 90%;
      margin: 20px auto;

      input {
        width: 90%;
        height: 60px;
        padding: 8px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid #F4E2CC;
      }

      button {
        width: 10%;
        height: 60px;
        background-color: white;
        border: 1px solid #F4E2CC;
        color: #74500A;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .button_box {
      width: 100%;
      display: flex;
      padding-bottom: 30px;

      >a {
        display: flex;
        padding-left: 50px;

        button {
          width: 80px;
          height: 30px;
          border-radius: 15px;
          border: none;
          background-color: #AB8B61;
          color: white;
          font-family: 'Noto Sans KR';
          font-weight: bold;
          cursor: pointer;
        }
      }

      .edit-delete-btn {
        width: 100%;
        display: flex;
        justify-content: end;
        padding-right: 50px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 30px;
          border-radius: 15px;
          border: none;
          background-color: #AB8B61;
          color: white;
          font-family: 'Noto Sans KR';
          font-weight: bold;
          cursor: pointer;

          &.edit-btn {
            margin-right: 10px;
          }
        }
      }

      // div {
      //   margin-left: auto;
      //   cursor: pointer;

      //   .delete {
      //     margin-left: 4px;
      //   }
      // }
    }
  }
}