#DmunityDetail {
  padding-top: 90PX;
  padding-bottom: 40px;

  #container {
    width: 1050px;
    margin: auto;
    padding-top: 80px;
    background-color: #F9EBDB;
    border-radius: 15px;

    .boxbox {
      width: 960px;
      margin: auto;
      padding-top: 12px;
      padding-bottom: 40px;

      .row1 {
        display: flex;

        .logo {
          font-family: 'NPSfontbold';
          font-size: 32px;
          color: #74500A;
        }
      }

      .row2 {
        margin-top: 32px;
        height: 60px;
        align-items: center;
        border-bottom: 1px solid #74500A;
        display: flex;

        img {
          width: 48px;
          height: 48px;
        }

        .title {
          width: 720px;
          font-size: 20px;
          margin-left: 20px;
          display: flex;
          font-weight: bold;
          align-items: center;
        }
      }

      .row3 {
        display: flex;
        margin-top: 4px;
        align-items: self-end;

        .info {
          display: flex;
          margin-left: auto;

          span {
            font-weight: bold;
            margin-left: 3px;
            font-weight: bold;
            display: flex;
          }
        }
      }

      .row4 {
        width: 930px;
        min-height: 240px;
        margin: auto;
        margin-top: 12px;
        font-size: 14px;
        font-family: 'Noto Sans KR';
      }

      .row5 {
        display: flex;
        padding: 8px;

        img {
          width: 22px;
          height: 18px;
        }

        p {
          margin-left: 4px;
        }
      }

      .row6 {
        border-bottom: 1px solid #74500A;
        border-top: 1px solid #74500A;
      }

      .row7 {
        display: flex;
        margin-top: 16px;

        input {
          width: 90%;
          height: 60px;
          padding: 8px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          border: none;
        }

        button {
          width: 10%;
          height: 60px;
          background-color: white;
          border: none;
          color: #74500A;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          font-weight: bold;
          cursor: pointer;
        }
      }

      .row8 {
        display: flex;

        button {
          width: 80px;
          height: 30px;
          border-radius: 15px;
          border: none;
          background-color: #AB8B61;
          color: white;
          font-family: 'Noto Sans KR';
          font-weight: bold;
        }

        .list {
          margin-top: 40px;
        }

        div {
          margin-left: auto;
          margin-top: 40px;

          .delete {
            margin-left: 4px;
          }
        }
      }
    }
  }
}