#termsofuse.tou {
  width: 100%;
  padding-top: 100px;
  
  .tou_container{ 
    width: 1050px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 179px;
    padding-top: 60px;
    

  .tou_title{
    display: flex;
    align-items: center;
    flex-direction: column;
      
    h1{
    font-size: 56px;
    font-weight: 500;
    line-height: 81.09px;
    text-align: center
  }

}

.tou_content_box01 {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-bottom: 60px;
  margin-top: 50px;
  padding: 30px 0
}

.tou_content_box02 {
  height: 460px;
  overflow: auto;
  padding-right: 14px;
  width: 700px
}

.tou_content_box02::-webkit-scrollbar {
  width: 6px
}

.tou_content_box02::-webkit-scrollbar-thumb {
  background-color: #a6a19e;
  border-radius: 2px
}

.tou_content_box02 p,li{
  background-color: #efe7de;
  background-color: var(--default_color);
  font-size: 16px;
  font-weight: 300;

  h2{
    strong{
      font-size: 18px;
      font-weight: 500;
    }
  }

}


.tou_appli_button{
  background-color: rgb(35, 25, 22);
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  margin-bottom: 12px;
  width: 420px
}
}
}