<<<<<<< HEAD
@charset "UTF-8";
=======
@charset 'UTF-8';
>>>>>>> 2b9840596dc221ce893b6fa99055a4c4bded4a1e

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; // Ensure the modal is above other content
}

.close-button {
  position: absolute;
<<<<<<< HEAD
  top: 100px;
  right: 100px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 50px;
=======
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
>>>>>>> 2b9840596dc221ce893b6fa99055a4c4bded4a1e
}

.modal {
  background-color: green;
  width: 1050px;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: white;
    width: 500px;
    height: 268px;
    justify-content: center;
    align-items: center;

<<<<<<< HEAD
    p {
      float: left;
    }
=======
    p1 {
      float: left;
    }

    p2 {
      float: right;
    }
>>>>>>> 2b9840596dc221ce893b6fa99055a4c4bded4a1e
  }
}