@charset "UTF-8";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; // Ensure the modal is above other content
  cursor: default;

  .close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  .modal {

    width: 1050px;
    max-width: 1050px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-content {
      background-color: #F4E2CC;
      width: 1050px;
      height: 700px;
      justify-content: center;
      align-items: center;
      display: flex;
      justify-content: space-between;
      border-radius: 20px;

      .photos {
        position: relative;
        flex: 1;
        background-color: #FFFBF5;
        border-radius: 20px;
        height: 668px;
        margin-left: 16px;
        margin-right: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        cursor: pointer;

        .swiper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%; // Set a fixed height for the Swiper slide

          img {
            width: 100%;
            height: 100%; // Ensure the image does not exceed the height of the slide
            object-fit: cover;
            display: block;
            margin: 0 auto;
          }
        }

        .sec1-swiper-pagination {
          position: absolute;
          bottom: 20px;
          z-index: 1;
          display: flex;
          align-items: center;
          left: 50%;
          left: 50%;
          transform: translateX(-50%);

          .swiper-pagination-bullet {
            width: 6px;
            height: 6px;
            margin-right: 4px;
          }

          .swiper-pagination-bullet-active {
            background: #F4E2CC;
          }
        }


        .sec1-swiper-prev-btn {
          position: absolute;
          width: 30px;
          top: 50%;
          left: 5px;
          z-index: 1;
          transform: rotate(180deg);
          background-color: transparent;
          border: none;
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        .sec1-swiper-next-btn {
          position: absolute;
          width: 30px;
          top: 50%;
          right: 5px;
          z-index: 1;
          background-color: transparent;
          border: none;
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        .swiper-button-disabled {
          display: none;
        }
      }

      .words {
        flex: 1;
        background-color: #FFFBF5;
        border-radius: 20px;
        height: 668px;
        margin-left: 8px;
        margin-right: 16px;
        position: relative;

        .profile {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #F4E2CC;
          padding: 10px 16px 10px 16px;

          img {
            margin-right: 14px;
            height: 32px;
            width: 32px;
          }

          .profileName {
            margin-right: auto;
            /* 왼쪽 정렬 */
          }

          .settings img {
            width: auto;
            height: 4px;
            margin: 0px 6px 0px 0px;
          }

          .settingsBtn {
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }

        .content {
          border-bottom: 1px solid #F4E2CC;
          padding: 16px;

          .contentWords {
            padding: 0px;
          }

          .tags {
            color: #74500A;
            padding: 4px 0px 0px 0px;
          }

          .contentLikes {
            padding: 4px 0px 0px 0px;
            cursor: pointer;

            img {
              height: 16px;
              width: 16px;
              margin-right: 4px;
              cursor: pointer;
            }
          }

          .contentTime {
            padding: 4px 0px 0px 0px;
            font-size: 12px;
          }
        }

        .commentSection {
          display: flex;
          padding: 14px 16px 14px 16px;

          img {
            height: 32px;
            width: 32px;
            margin-right: 14px;
            margin-bottom: auto;
          }

          .commentProfile {
            padding: 0px;
          }

          .comment {
            padding: 4px 0px 0px 0px;
          }

          .commentDetails {
            display: flex;
            align-items: center;
            padding: 4px 0px 0px 0px;
            font-size: 12px;
            height: 16px;

            .commentDate {
              margin-right: 12px;
            }

            Img {
              height: 12px;
              width: 12px;
              margin: 0px 4px 0px 0px;
              cursor: pointer;
            }

            .commentLikes {
              margin-right: 12px;
              cursor: pointer;
            }

            .cocomment {
              font-size: 12px;
              font-weight: bold;
              color: #74500A;
              opacity: 0.9;
              margin-right: 12px;
              height: 16px;
              background-color: transparent;
              border: none;
              cursor: pointer;
            }
          }



        }

        .commentWritingSection {
          position: absolute;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px;
          border-top: 1px solid #F4E2CC;
          bottom: 0px;
          width: 501px;

          .writingComment {
            border: none;
            background-color: transparent;
            outline: none;
            width: 432px;
            resize: none;
            max-height: 80px;
            /* 5줄 이상이면 세로 스크롤 표시 */
            overflow-y: auto;
            font-size: 100%;
          }


          .write-button {
            border: none;
            cursor: pointer;
            background-color: transparent;
            font-size: 100%;
            height: 18px;
            font-weight: bold;
            color: #74500A;
            opacity: 1;
          }

          .write-button.disabled {
            border: none;
            background-color: transparent;
            font-size: 100%;
            height: 18px;
            font-weight: bold;
            color: #74500A;
            opacity: 0.5;
            cursor: default;
          }
        }
      }
    }
  }
}