#mypage.mypageedit {
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
  overflow: hidden;
  height: auto;
  min-height: 1400px;

  // 댕스타 메인 컨테이너
  .mypageedit_container {
    width: 1050px;
    height: 100vh;
    margin: 0 auto;
    position: relative;

    // 댕스타 메인 타이틀 컨테이너
    .mypageedit_titlecontainer {
      position: relative;
      width: 1050px;
      height: 50px;
      margin: 20px;

      // 댕스타 메인 타이틀 아이콘
      img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        /* 아이콘을 인라인 블록 요소로 설정 */
        display: inline-block;
      }

      // 댕스타 메인 타이틀 제목
      .mypageedit_title {
        font-size: 30px;
        font-weight: bold;
        font-family: "fredoka one";
        padding: 10px;
        color: #74500A;
        line-height: 40px;
        display: inline-block;
      }
    }

    // prev page
    .page_prev {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 250px;
      left: 100px;
      z-index: 2;
      transform: scaleX(-1);
      cursor: pointer;
    }

    // next page
    .page_next {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 250px;
      right: 100px;
      z-index: 2;
      cursor: pointer;
    }

    // 마이페이지 학생증
    .mypageedit_idcard {
      width: 600px;
      height: 370px;
      background-color: #FFF3E4;
      border-radius: 40px;
      margin: 0 auto;
      position: relative;

      // 마이페이지 학생증 (head 디자인)
      .mypageedit_idcardhead {
        width: 600px;
        height: 80px;
        background-color: #74500A;
        border-radius: 40px 40px 0 0;
        margin: 0 auto;

        //학생증 head컨테이너
        .mypageedit_headcontainer {
          width: 100%;
          height: 80px;
          /* 부모 요소 컨테이너 */
          display: flex;
          /* 수직 가운데 정렬 */
          align-items: center;
          /* 수평 가운데 정렬 */
          justify-content: center;

          // 댕스타 학생증 head 아이콘
          img {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            vertical-align: middle;
            /* 아이콘을 인라인 블록 요소로 설정 */
            display: inline-block;
          }

          // 댕스타 학생증 헤드 타이틀 
          .mypageedit_headtitle {
            font-size: 30px;
            font-weight: bold;
            font-family: "UhBeeSe_hyun";
            padding: 10px;
            color: #FFFBF5;
            line-height: 40px;
            display: inline-block;
            letter-spacing: 30px;
          }
        }
      }

      // 학생증 디자인(도장)
      .idcard_stamp {
        position: absolute;
        width: 300px;
        height: 290px;
        margin: 0 150px;
        z-index: 0;
      }

      // 학생증 바디 컨테이너
      .idcard_bodycontainer {
        position: absolute;
        width: 600px;
        height: 290px;
        z-index: 1;

        // 학생증 사진 업로드
        .idcard_dog {
          position: absolute;
          width: 200px;
          height: 230px;
          margin: 20px;
          right: 10px;
          z-index: 2;
          border-radius: 10px;
        }

        //학생증사진 바꾸기 버튼
        .file_input {
          display: none;
        }

        .change_file_input {
          display: block;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 216px;
          left: 536px;
          z-index: 3;
          background: url(../../img/dsta/photh_select_btn.png) center no-repeat;
          border-radius: 50px;
          cursor: pointer;
        }

        .img_delete_btn {
          /*추가된 이미지 삭제 버튼*/
          position: absolute;
          top: 24px;
          left: 380px;
          z-index: 3;
          width: 14px;
          height: 14px;
          background-color: transparent;
          border-style: none;
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        // 학생증 디자인(바코드)
        .idcard_barcode {
          position: absolute;
          width: 300px;
          height: 50px;
          left: 35px;
          bottom: 15px;
        }

        //학생증 univ 
        .idcard_univ {
          position: absolute;
          font-size: 16px;
          font-weight: bold;
          color: #74500A;
          font-family: "UhBeeSe_hyun";
          bottom: 15px;
          right: 30px;
        }

        // 학생증 인포메이션
        .idcard_info {
          margin: 20px;
          display: block;
          width: 350px;

          div {
            margin-bottom: 10px;
            display: inline-block;

          }

          // 학생증 정보 텍스트
          .idcard_infotext {
            width: 60px;
            height: 30px;
            font-size: 16px;
            font-weight: bold;
            font-family: "UhBeeSe_hyun";
            display: inline-block;
            margin-right: 10px;
            align-items: center;
          }

          //학생증 디자인 박스
          .idcard_infobox {
            width: 250px;
            height: 30px;
            border-radius: 10px;
            background-color: #FFF;
            opacity: 0.7;
            display: inline-block;
            vertical-align: middle;
            display: inline-flex;

            .info_input {
              width: 100%;
              height: 100%;
              border: none;
              font-size: 14px;
              font-weight: bold;
              font-family: "UhBeeSe_hyun";
              color: gray;
              padding-left: 10px;
              border-radius: 10px;
            }
          }
        }
      }
    }

    //학생증 버튼
    .btn_box {
      margin: 20px 250px 150px 0;
      float: right;
      display: flex;
      // 버튼 왼쪽 정렬
      justify-content: flex-start;

      // 학생증 추가
      .add_btn {
        width: 120px;
        height: 35px;
        margin-right: 10px;
        border-radius: 5px;
        border: none;
        background-color: #74500A;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }

      // 학생증 삭제
      .del_btn {
        width: 120px;
        height: 35px;
        border-radius: 5px;
        border: none;
        background-color: #AB8B61;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
      }
    }

    // 견주 정보 수정 컨테이너
    .infoedit_container {
      width: 1050px;
      height: 550px;
      margin-top: 130px;
      display: flex;
      flex-direction: column;
      // 가로 중앙 정렬
      justify-content: center;
      //세로 중앙 정렬
      align-items: center;

      // 견주 정보 수정 타이틀 박스
      .infoedit_boxtitle {
        width: 160px;
        height: 60px;
        background-color: #74500A;
        border-radius: 15px 15px 0 0;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        margin-left: -790px;
      }

      // 견주 정보 수정 박스
      .infoedit_box {
        width: 950px;
        height: 600px;
        border-radius: 0 15px 15px 15px;
        background-color: #F4E2CC;
        margin-top: -5px;
        display: flex;
        flex-direction: column;
        // 가로 중앙 정렬
        justify-content: center;
        //세로 중앙 정렬
        align-items: center;

        .infoedit_box2 {
          background: #F6E9D9;
          border-radius: 15px;
          width: 850px;
          height: 500px;
          display: flex;
          flex-direction: column;
          // 가로 중앙 정렬
          justify-content: center;
          //세로 중앙 정렬
          align-items: center;
          margin: 20px 0;

          // 비밀번호 중복확인 문구
          p {
            position: absolute;
            font-size: 14px;
            font-weight: bold;
            margin: 15px 0 15px -160px;
          }

          //비밀번호 중복 확인 버튼
          .password_btn {
            width: 80px;
            height: 35px;
            border-radius: 30px;
            border: none;
            background-color: #AB8B61;
            font-size: 16px;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
            position: absolute;
            /* 버튼의 위치를 절대 위치로 지정 */
            right: 150px;
            top: 852px;
            /* 부모 요소 세로 중앙 정렬을 위해 top 50% 설정 */
            transform: translateY(-50%);
          }

          //닉네임 중복 확인 버튼
          .nickname_btn {
            width: 80px;
            height: 35px;
            border-radius: 3px;
            border: none;
            background-color: #AB8B61;
            font-size: 16px;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
            position: absolute;
            /* 버튼의 위치를 절대 위치로 지정 */
            right: 150px;
            /* 오른쪽에 배치하도록 설정 */
            top: 1002px;
            /* 부모 요소 세로 중앙 정렬을 위해 top 50% 설정 */
            transform: translateY(-50%);
          }

          .infoedit_div {
            margin-bottom: 30px;
            margin-left: -130px;
          }

          // 정보 수정 텍스트
          .infoedit_text {
            width: 200px;
            height: 30px;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            align-items: center;
            color: #74500A;
            vertical-align: middle;
            text-align: center;
            line-height: 30px;
            margin-right: 30px;
            word-spacing: 10px;
          }

          // 정보수정 텍스트 박스
          .infoedit_textbox {
            width: 450px;
            height: 45px;
            background-color: #FFF;
            opacity: 0.7;
            display: inline-block;
            vertical-align: middle;
            display: inline-flex;
            border-radius: 15px;
            // padding-left: 20px;

            .id_input {
              width: 100%;
              height: 100%;
              border: none;
              font-size: 16px;
              border-radius: 15px;
              padding-left: 20px;
              font-size: 16px;
              font-weight: bold;

              &::placeholder {
                color: #000;
              }
            }

            // 정보 수정 데이터
            .infoedit_input {
              width: 100%;
              height: 100%;
              border: none;
              font-size: 16px;
              font-weight: bold;
              color: #000;
              border-radius: 15px;
              padding-left: 20px;


              &::placeholder {
                color: #999;
                font-size: 13px;
              }
            }
          }
        }
      }

      //수정 완료,취소,탈퇴 버튼
      .btn_box2 {
        margin-top: 20px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        width: 950px;
        height: 35px;

        // 회원 탈퇴
        .unregister_btn {
          width: 85px;
          height: 35px;
          border-radius: 5px;
          border: none;
          background-color: #D6CABA;
          font-size: 16px;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }

        // 수정 완료
        .completion_btn {
          width: 70px;
          height: 35px;
          border-radius: 5px;
          border: none;
          background-color: #74500A;
          font-size: 16px;
          color: #fff;
          font-weight: bold;
          margin-right: 10px;
          cursor: pointer;
        }

        // 수정 취소
        .cancel_btn {
          width: 70px;
          height: 35px;
          border-radius: 5px;
          border: none;
          background-color: #AB8B61;
          font-size: 16px;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}