#mypage.mypage_main {
  width: 100%;
  height: 100vh;
  min-height: 1330px;
  padding: 90px 0 30px 0;

  ul,
  li {
    list-style: none;
  }

  .mypage_main_container {
    width: 1050px;
    margin: 0 auto;
    position: relative;

    .card_section {
      /*학생증 섹션*/
      width: 1050px;
      height: 550px;

      //타이틀 컨테이너
      .mypagemain_titlecontainer {
        position: relative;
        width: 1050px;
        height: 50px;
        margin: 20px;

        //타이틀 아이콘
        img {
          width: 40px;
          height: 40px;
          vertical-align: middle;
          /* 아이콘을 인라인 블록 요소로 설정 */
          display: inline-block;
        }

        //타이틀 제목
        .mypagemain_title {
          font-size: 30px;
          font-weight: bold;
          font-family: "fredoka one";
          padding: 10px;
          color: #74500A;
          line-height: 40px;
          display: inline-block;
        }
      }

      // prev page
      .page_prev {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 20%;
        left: 100px;
        z-index: 2;
        transform: scaleX(-1);
        cursor: pointer;
      }

      // next page
      .page_next {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 20%;
        right: 100px;
        z-index: 2;
        cursor: pointer;
      }

      // 마이페이지 학생증
      .mypageedit_idcard {
        width: 600px;
        height: 370px;
        background-color: #FFF3E4;
        border-radius: 40px;
        margin: 0 auto;
        position: relative;

        // 마이페이지 학생증 (head 디자인)
        .mypageedit_idcardhead {
          width: 600px;
          height: 80px;
          background-color: #74500A;
          border-radius: 40px 40px 0 0;
          margin: 0 auto;

          //학생증 head컨테이너
          .mypageedit_headcontainer {
            width: 100%;
            height: 80px;
            /* 부모 요소 컨테이너 */
            display: flex;
            /* 수직 가운데 정렬 */
            align-items: center;
            /* 수평 가운데 정렬 */
            justify-content: center;

            //학생증 head 아이콘
            img {
              width: 50px;
              height: 50px;
              margin-right: 20px;
              vertical-align: middle;
              /* 아이콘을 인라인 블록 요소로 설정 */
              display: inline-block;
            }

            // 학생증 헤드 타이틀 
            .mypageedit_headtitle {
              font-size: 30px;
              font-weight: bold;
              font-family: "UhBeeSe_hyun";
              padding: 10px;
              color: #FFFBF5;
              line-height: 40px;
              display: inline-block;
              letter-spacing: 30px;
            }
          }
        }

        // 학생증 디자인(도장)
        .idcard_stamp {
          position: absolute;
          width: 300px;
          height: 290px;
          margin: 0 150px;
          z-index: 0;
        }

        // 학생증 바디 컨테이너
        .idcard_bodycontainer {
          position: absolute;
          width: 600px;
          height: 290px;
          z-index: 1;

          // 학생증 사진 업로드
          .idcard_dog {
            position: absolute;
            width: 200px;
            height: 230px;
            margin: 20px;
            right: 10px;
            z-index: 2;
            border-radius: 10px;
          }

          // 학생증 디자인(바코드)
          .idcard_barcode {
            position: absolute;
            width: 300px;
            height: 50px;
            left: 35px;
            bottom: 15px;
          }

          //학생증 univ 
          .idcard_univ {
            position: absolute;
            font-size: 16px;
            font-weight: bold;
            color: #74500A;
            font-family: "UhBeeSe_hyun";
            bottom: 15px;
            right: 30px;
          }

          // 학생증 인포메이션
          .idcard_info {
            margin: 20px;
            display: block;
            width: 350px;

            div {
              margin-bottom: 10px;
              display: inline-block;

            }

            // 학생증 정보 텍스트
            .idcard_infotext {
              width: 60px;
              height: 30px;
              font-size: 16px;
              font-weight: bold;
              font-family: "UhBeeSe_hyun";
              display: inline-block;
              margin-right: 10px;
              align-items: center;
            }

            //학생증 디자인 박스
            .idcard_infobox {
              width: 250px;
              height: 30px;
              border-radius: 10px;
              background-color: #FFF;
              opacity: 0.7;
              display: inline-block;
              vertical-align: middle;
              display: inline-flex;

              .info_textarea {
                width: 100%;
                height: 100%;
                line-height: 30px;
                border: none;
                font-size: 14px;
                font-weight: bold;
                font-family: "UhBeeSe_hyun";
                color: gray;
                padding-left: 10px;
              }
            }
          }
        }
      }

      //학생증 버튼
      .btn_box {
        margin-top: 20px;
        float: right;
        margin-right: 250px;

        // 회원정보수정 버튼
        .edit_btn {
          width: 120px;
          height: 35px;
          border-radius: 30px;
          border: none;
          background-color: #74500A;
          font-size: 16px;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .myposts {
      /*내 글 모아보기 섹션*/
      margin: 0 auto;
      width: 950px;
      height: 637px;

      .list_btn_box {
        width: 323px;
        display: flex;
        justify-content: space-between;

        //클릭한 탭 버튼은 active 스타일 적용됨
        .tabs {
          .tab_btn {
            width: 105px;
            height: 47px;
            background-color: #74500A;
            border: none;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: #ffffff;
            font-family: 'Noto Sans KR';
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;

            &.active {
              background-color: #F4E2CC;
              color: #000000;
            }
          }
        }
      }

      .myposts_container {
        width: 950px;
        height: 596px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F4E2CC;
        border-radius: 10px;
        border-top-left-radius: 0;

        .total_box {
          /*필터, 내 글 리스트들 박스*/
          width: 900px;
          height: 526px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .post_filter {
            width: 102px;
            height: 30px;
            padding: 0 12px;
            -webkit-appearance: none;
            /* for chrome */
            -moz-appearance: none;
            /*for firefox*/
            appearance: none;

            &::-ms-expand {
              display: none;
              /*for IE10,11*/
            }

            /*필터화살표 이미지*/
            background: url(../img/mypage/next_page.png) no-repeat 97% 60%;
            background-color: #FFFBF5;
            border: none;
            border-radius: 10px;

            font-family: 'Noto Sans KR';
            font-weight: bold;
            font-size: 16px;
            line-height: 30px;
            color: #74500A;
            cursor: pointer;
          }

          .list_box {
            /*댕뮤니티 스타일*/
            width: 900px;
            height: 482px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #FFFBF5;

            .list_table {
              width: 100%;
              border-collapse: collapse;

              .head_row {
                height: 36px;

                th {
                  text-align: center;
                  line-height: 36px;
                  background-color: #AB8B61;
                  color: #ffffff;
                }
              }

              .body_row {
                td {
                  border-bottom: 1px solid #F4E2CC;
                  height: 40px;
                  text-align: center;
                  line-height: 40px;
                  cursor: pointer;
                }
              }
            }
          }

          .dsta_listbox {
            /*댕스타 스타일*/
            width: 900px;
            height: 482px;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #FFFBF5;

            .dsta_lists {
              width: 832px;
              height: 420px;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: flex-start;

              .dsta_list {
                width: 200px;
                height: 200px;
                border-radius: 10px;
                margin: 4px;
                cursor: pointer;
              }
            }
          }

          /*페이지네이션 스타일 적용*/
          .pagination {
            display: inline-block;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-self: center;

            .page_item {
              display: inline-block;
              padding: 0 4px;
              font-size: 16px;
              color: #F0D5B5;
              cursor: pointer;

              &.active {
                color: #74500A;
              }
            }

            .pre_btn {
              width: 16px;
              height: 16px;
              background: url(../img/mypage/Sort_Right.png) center transparent;
              border: none;
              transform: scaleX(-1);
              cursor: pointer;
            }

            .next_btn {
              width: 16px;
              height: 16px;
              background: url(../img/mypage/Sort_Right.png) center transparent;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}