#main {
  width: 100%;
  height: 3134px;
  padding-top: 0;
  background: #fffbf5;
  position: flex;
}
#main .sec1 {
  width: 100%;
  height: 358px;
  padding-top: 90px;
  background: #fffbf5;
  position: flex;
}
#main .sec2 {
  width: 100%;
  height: 2264px;
  padding-top: 0px;
  background: #fffbf5;
  position: flex;
}
#main .sec2 .container {
  width: 1050px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#main .sec2 .container .title {
  font-size: 30px;
}
#main .sec3 {
  width: 100%;
  height: 512px;
  padding-top: 0px;
  background: #fffbf5;
  position: flex;
}
#main .sec3 .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}